<div class="text-layout">
    <h1>Basic Pipes</h1>
    <p>Pipes de Angular - Usualmente incluidos en el Common Module</p>
</div>

<div class="p-grid">

    <div class="p-col-4">
        <p-card header="Uppercase"
                [subheader]="nameUpper">
            {{ nameUpper | uppercase }}
        </p-card>
    </div>  

    <div class="p-col-4">
        <p-card header="LowerCase"
        [subheader]="nameLower">
            {{ nameLower | lowercase }}
        </p-card>
    </div>  

    <div class="p-col-4">
        <p-card header="Titlecase"
        [subheader]="nameComplete">
            {{ nameComplete | titlecase }}
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1> Date | Fecha | Pipe </h1>
    <p>Pipes de Angular - to show dates | fechas</p>
</div>

<div class="p-grid">

    <div class="p-col-6">
        <p-card>
            <b>Is only Html not functionality of Pipes</b>
            <ul>
                <li> fecha</li>
                <li> fecha | date </li>
                    <!-- pasando parametros -->
                <li> fecha | date | short </li>
                <li> fecha | date | long </li>
                <li> fecha | date | era </li>
                <!-- custom date -->
                <li> fecha | date | MES </li>
                <li> fecha | date | MES COMPLETO - DIA & AÑO </li>
                <li> fecha | date : 'long': 'GMT-6'</li>
                <li> fecha | date : 'long': 'GMT+8'</li>
                <li> fecha | date : 'long': 'Gtm por defecto': 'idioma'</li>
            </ul>
            <hr>

            <ul>
                <li></li>
            </ul>

        </p-card>
    </div> 

    <!-- https://angular.io/api/common/DatePipe -->

    <div class="p-col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <!-- pasando parametros -->
                <li>{{ fecha | date : 'short'}}</li> 
                <li>{{ fecha | date : 'long'}}</li> 
                <li>{{ fecha | date : 'era'}}</li> 
                <!-- custom date -->
                <li>{{ fecha | date : 'MM'}}</li> 
                <li>{{ fecha | date : 'MMMM, dd, yyyy'}}</li> 
            </ul>

            <ul>
                <li>{{ fecha | date : 'long': 'GMT-6'}}</li>
                <li>{{ fecha | date : 'long': 'GMT+8'}}</li>
                <li>{{ fecha | date : 'long':'':'en'}}</li>
                <li>{{ fecha | date : 'long':'':'it'}}</li>
            </ul>

        </p-card>
    </div> 

</div>  