<div class="text-layout">
    <h1>Pipes No tan comunes</h1>
    <p>Pipes de Angular - Usualmente incluidos en el Common Module</p>
</div>

<!-- https://angular.io/guide/i18n-overview -->
<!-- https://angular.io/api/common/I18nSelectPipe -->

<div class="p-grid">
    <!-- para pantallas medianas (md), numero columnas (sm) -->
    <div class="p-col p-md-6 p-sm-9">
        <!-- http://primefaces.org/primeng/fieldset -->

        <p-fieldset legend="i18nSelect-Pipe" [toggleable]="true">
            <p> Saludos {{ name }}, es un placer 
                {{genero | i18nSelect:invitacionMapa }} 
                a nuestro evento.
            </p>

            <button pButton 
                    label="Cambiar persona"
                    (click)="cambiarCliente()"
                    class="p-button-help">
            </button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <!-- https://angular.io/api/common/I18nPluralPipe -->

        <p-fieldset legend="i18nSelect-Plural Pipe" [toggleable]="true">
            <p> 
                Actualmente {{ clientes.length | i18nPlural:clentesMapa }}
            </p>  
            <button pButton 
                    label="Borrar cliente"
                    (click)="borrarCliente()"
                    class="p-button-danger">
            </button>
        </p-fieldset>

    </div>
</div>

